@import "tailwindcss";

@theme inline {
  --color-BegeP: #D8CC9A;
  --color-GreenP: #124831;
  --font-Oswald:"Oswald", "serif";
  --font-Merriweather:"Merriweather", "serif";
}

body {
  background-image: url("/homeBG.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


html {
  scroll-behavior: smooth;
}

.maxW {
  max-width: 1440px;
  margin: 0 auto;
}

.slider1 {
  background-image: url('/slide1.jpg');
  background-position: bottom;
  background-size: cover;
  height: 70vh;
}

.slider2 {
  background-image: url('/slide2.jpg');
  background-position: bottom;
  background-size: cover;
  height: 70vh;
}

h1,
h2,
h3,
h4,
ul {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h5 {
  font-family: "Merriweather", serif;
  font-style: normal;
}

p {
  font-family: "Open Sans", serif;
}
